{% load static %}
<head>
  <link rel="stylesheet" href="{% static 'nav.css'  %}" />

  <!-- Compressed CSS -->
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/foundation-sites@6.7.4/dist/css/foundation.min.css"
    crossorigin="anonymous"
  />

  <!-- Compressed JavaScript -->
  <script
    src="https://cdn.jsdelivr.net/npm/foundation-sites@6.7.4/dist/js/foundation.min.js"
    crossorigin="anonymous"
  ></script>
</head>
<div class="top-bar" id="nav">
  <div class="top-bar-left">
    <ul class="dropdown menu" id="top-left" data-dropdown-menu>
      <li class="menu-text"></li>
      <img
        src="{% static 'HISMindMatters.png' %}"
        alt="his mind matters logo"
        height="200"
        width="200"
        id="logo"
      />
      <div id="link-div">
        <li>
          <a href="/landing"><h3 class="nav-item">Home</h3></a>
        </li>
        <li>
          <a href="/resources"> <h3 class="nav-item">Resources</h3></a>
        </li>
        <li>
          <a href="/logout"><h3 class="nav-item">Logout</h3></a>
        </li>
      </div>
    </ul>
  </div>
  <div id="search-div">
    <div class="top-bar-right" id="top-right">
      <ul class="menu">
        <li><input type="search" placeholder="Search" /></li>
        <li><button type="button" class="button">Search</button></li>
      </ul>
    </div>
  </div>
</div>
