{%include 'nav.html'%} {%load static%}

<link rel="stylesheet" href="{%static 'resources.css'%}" />

<div class="row rows" id="row1">
  <div class="columns small-2 large-4 card resource-card">
    <span><h6>Free Resources</h6></span><br />
    <ul>
      <li>
        Free online therapy for depression: <br />
        <a href="https://cimhs.com/">cimhs.com</a>
      </li>
      <li>
        Find a support group locally: <br />
        <a href="https://arc.mhanational.org/find-affiliate "
          >arc.mhanational.org
        </a>
      </li>
      <li>
        Free volunteer listeners and a place for community: <br />
        <a href="https://www.7cups.com/ ">7cups.com</a>
      </li>
      <li>
        Free Peer to Peer chat with like minded individuals: <br />
        <a href="https://blahtherapy.com/ ">blahtherapy.com</a>
      </li>
    </ul>
      <li>
        Free volunteer online crisis chat: <br />
        <a href="https://www.imalive.org/online/ ">imalive.org</a>
      </li>
    </ul>
  </div>
  <div class="columns small-2 large-4 card resource-card">
    <span><h6>Low Cost Resources</h6></span><br />
    <ul>
      <li>
        Help finding a therapist: <br />
        <a href="https://headsupguys.org/take-action/find-a-therapist/ "
          >headsupguys.org</a
        >
      </li>
    </ul>
  </div>
  <div class="columns small-2 large-4 card resource-card">
    <span><h6>Classes</h6></span><br />
    <ul>
      <li>
        udemy.com -
        <a
          href="https://www.udemy.com/course/conquer-your-stress-dont-manage-it/?ranMID=39197&ranEAID=0F1O0otUXQc&ranSiteID=0F1O0otUXQc-2JnO98jJLIZzYMUCcL6JJQ&LSNPUBID=0F1O0otUXQc&utm_source=aff-campaign&utm_medium=udemyads"
          >Conquer Your Stress. Don't Manage it!</a
        >
      </li>
      <li>
        udemy.com -
        <a
          href="https://www.udemy.com/course/master-your-mind-emotions-in-21-days/?ranMID=39197&ranEAID=0F1O0otUXQc&ranSiteID=0F1O0otUXQc-MLO331wRS8gwd79rFdSBGQ&LSNPUBID=0F1O0otUXQc&utm_source=aff-campaign&utm_medium=udemyads"
          >Breathwork - Master Your Mind & Emotions in 21 Days
        </a>
      </li>
      <li>
        honey-lansdowne.newzenler.com - <br />
        <a
          href="https://honey-lansdowne.newzenler.com/courses/free-anxiety-course/buy"
          >Free Anxiety Relief Course
        </a>
        - Take control of how you feel with simple techniques to help you feel
        better. You can use these techniques as much as needed safely and
        easily.
      </li>
    </ul>
  </div>
</div>
<div class="row rows" id="row2">
  <div class="columns small-2 large-4 card resource-card">
    <span><h6>Hotlines</h6></span><br />
    <ul>
      <li>
        National Suicide Prevention Lifeline www.suicidepreventionlifeline.org
        <br />
        Phone:1-800-273-TALK (8255)
      </li>
    </ul>
  </div>
  <div class="columns small-2 large-4 card resource-card">
    <span><h6>Mobile Apps</h6></span><br />
    stuff
  </div>
  <div class="columns small-2 large-4 card resource-card">
    <span><h6>Articles</h6></span><br />
    stuff
  </div>
</div>

{%include 'footer.html'%}
