@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300&display=swap');
#link-div {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
}
#nav {
  display: flex;
  align-items: flex-end;
  font-family: "Tenor Sans", sans-serif;
}

#nav,
#top-left {
  background-color: #545454;
}
#top-left {
  margin-left: -30px;
}

#top-right {
  margin-bottom: 20px;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

.nav-item {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  color: white;
}
.nav-item:hover {
  font-family: 'M PLUS Rounded 1c', sans-serif;  color: rgb(108, 108, 252);
}
